.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.cart-container {
  background-color: rgba(255, 153, 0, 0.3);
}

.cart-container button {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding-left: 104px;
  padding-top: 50px;
  padding-right: 82px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1100px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.btn-review {
  background-color: #ff9900;
  border: 0;
  color: white;
  font-size: 17px;
  border-radius: 4px;
}

